<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QLKC35PVJB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QLKC35PVJB');
    </script>
    <meta charset="UTF-8">
    <title>Climbing Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loadingScreen.css') }}">
    <style>
        #example {
            position: absolute;
            top: 10%;
            left: 5%;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/" method="POST" onsubmit="showLoadingScreen()">
            <div class="input-container">
                <input type="text" name="first_input" placeholder="Your Mtn Proj. Profile Link">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div id="example">
        <h1>Your Data Visualized</h1> <br>
        <b>*Example profile link:</b> <br>
        <b>https://www.mountainproject.com/user/200169262/isaac-rubey</b>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="mailto:climbing.analytics@gmail.com">Contact</a></li>
                <li><a href="{{ url_for('terms_and_privacy') }}">Terms of Service</a></li>
                <li><a href="{{ url_for('terms_and_privacy') }}">Privacy Policy</a></li>
            </ul>
        </nav>
    </footer>

    <!-- Loading Screen -->
    <div id="loadingScreen" style="display:none;">
        <p id="loadingText">Preparing Ticklist...</p>
    </div>
    <script src="{{ url_for('static', filename='js/loadingScreen.js') }}"></script>
</body>
</html>
