<!DOCTYPE html>
<html>
<head>
    <title>Climbing Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loadingScreen.css') }}">
    
</head>
<body>
    <div class="container">
        <form action="/" method="POST" onsubmit="showLoadingScreen()">
            <div class="input-container">
                <input type="text" name="first_input" placeholder="mountain project user profile link">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="mailto:climbing.analytics@gmail.com">Contact</a></li>
            </ul>
        </nav>
    </footer>

    <!-- Loading Screen -->
    <div id="loadingScreen" style="display:none;">
        <p id="loadingText">Preparing Ticklist...</p>
    </div>
    <script src="{{ url_for('static', filename='js/loadingScreen.js') }}"></script>
</body>
</html>
