<!DOCTYPE html>
<html>
<head>
    <title>Performance Pyramid</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
    var sportPyramidData = {{ sport_pyramid|safe }};
    var tradPyramidData = {{ trad_pyramid|safe }};
    var boulderPyramidData = {{ boulder_pyramid|safe }};
    var userTicksData = {{ user_ticks|safe }};
    var binnedCodeDict = {{ binned_code_dict|safe }};
    </script>
</head>
<body>

    <a href="{{ url_for('userviz', username=username) }}">Home</a>
    <br>
    <a href="mailto:climbing.analytics@gmail.com"> This is a prototype application, please provide feedback here</a>

    <section>
        <!-- Performance Pyramid -->
        <h2>Performance Pyramid</h2>
        <div id="performance-pyramid-filters">
            <h3>Discipline Filter</h3>
            <input type="radio" id="filter-performance-sport" name="performance-pyramid-discipline-filter" value="sport" checked>
            <label for="filter-performance-sport">Sport</label>
            <input type="radio" id="filter-performance-trad" name="performance-pyramid-discipline-filter" value="trad">
            <label for="filter-performance-trad">Trad</label>
            <input type="radio" id="filter-performance-boulder" name="performance-pyramid-discipline-filter" value="boulder">
            <label for="filter-performance-boulder">Boulder</label>

            <h3>Time Filter</h3>
            <input type="radio" id="filter-performance-time-allTime" name="performance-pyramid-time-filter" value="allTime" checked>
            <label for="filter-performance-time-allTime">All Time</label>
            <input type="radio" id="filter-performance-time-lastYear" name="performance-pyramid-time-filter" value="lastYear">
            <label for="filter-performance-time-lastYear">Past Year</label>
            <input type="radio" id="filter-performance-time-lastSixMonths" name="performance-pyramid-time-filter" value="lastSixMonths">
            <label for="filter-performance-time-lastSixMonthsr">Last 6mo.</label>
            <input type="radio" id="filter-performance-time-lastThreeMonths" name="performance-pyramid-time-filter" value="lastThreeMonths">
            <label for="filter-performance-time-lastThreeMonthsr">Last 3mo.</label>
        </div>
        
        <div id="performance-pyramid"></div>

        <b>Top 4 grades sent clean</b>

        <!-- Attempt Funnel -->
        <h2>Attempts Funnel</h2>        
        <div id="attempts-funnel"></div>

        <b>Average number of attempts per send at each grade</b>
        <a href="{{ url_for('pyramid_input', username=username) }}">Edit Attempts Values</a>

    </section>
    
    <!-- Include the second JavaScript file -->
    <script src="{{ url_for('static', filename='js/commonFilters.js') }}"></script>
    <script src="{{ url_for('static', filename='js/performancePyramid.js') }}"></script>
    <script src="{{ url_for('static', filename='js/attemptsPyramid.js') }}"></script>
</body>
</html>
